@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.input:disabled, .input[disabled]{
  background-color: #5E503F;
  border-color:#ffffff
}

/* #tsparticles {
  position: absolute;
  width: 90%;
  height: 20%;
  z-index: 0;
  text-align: center !important;
} */

/* #fireworks-container{
  position: absolute;
  width:  90px;
  height: 90px;
  z-index: 1;
  background-color: red;
} */